{% extends 'base.html.twig' %}

{% block body %}
    <h1>Plan_tratamientos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plan_Tratamiento in plan_Tratamientos %}
            <tr>
                <td><a href="{{ path('plan_tratamiento_show', { 'id': plan_Tratamiento.id }) }}">{{ plan_Tratamiento.id }}</a></td>
                <td>{{ plan_Tratamiento.descripcion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('plan_tratamiento_show', { 'id': plan_Tratamiento.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('plan_tratamiento_edit', { 'id': plan_Tratamiento.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('plan_tratamiento_new') }}">Create a new plan_Tratamiento</a>
        </li>
    </ul>
{% endblock %}
