{% extends 'base.html.twig' %}


{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('public/css/tablas.css')}}">
{% endblock %}

{% block body %}
<form  name="insertar" method="get" action="{{ path('guardar2')}}">
<div class="container" style="margin-top:100px; margin-bottom:150px">
<div class="row well">

    <h2>Riesgos para el activo con codigo: {{ activo.id }}</h2>
     <h4>Nombre: {{ activo.nombre }}</h4> 

<input type="number" readonly="readonly" name="activo" id="activo" value="{{activo.id}}" style="display:none;">


<div class="box-body table-responsive">
    <table id='tabla' class="table table-hover" >
        <thead>
            <tr>
                <th style="width:3%" ><font size=3> No Riesgo</font></th>
               
                <th style="width:5%"> <font size=3>Valor Activo </font></th>
                <th style="width:5%"> <font size=3>Degradacion (%) </font></th>
                <th style="width:5%"> <font size=3>Impacto (%)</font> </th>
                <th style="width:5%"> <font size=3>Prob. Ocurrencia (%) </font></th>
                <th style="width:5%"> <font size=3>Riesgo (%)</font></th>
                
                <th style="width:15%"><font size=3> Amenaza  </font></th>
                 <th style="width:15%"><font size=3> Vulnerabilidad  </font></th>
                <th style="width:25%"><font size=3> Acciones </font></th>
                
            </tr>
            </div>
        </thead>

         <tbody>
        {% for riesgo in riesgos %}
            <tr>
                <td>{{ riesgo.id }}</td>
              
                <td>{{ riesgo.valorActivo }}</td>
                <td>{{ riesgo.degradacion }}</td>
                <td>{{ riesgo.impacto }}</td>
                <td>{{ riesgo.probOcurrencia }}</td>
                <td>{{ riesgo.estimacionRiesgo }}</td>
         

                {% for ame in amenaza %}
                  {% if ame.id == riesgo.amenaza %}
                <td>{{ ame.nombre }}</td>
                  {% endif %}
                {% endfor %}

                 {% for vulnerabilidad in vulnerabilidad %}
                  {% if vulnerabilidad.id == riesgo.vulnerabilidad %}
                <td>{{ vulnerabilidad.nombre }}</td>
                  {% endif %}
                {% endfor %}
              <td>
               <ul>
                <td><a href="{{ path('riesgo_edit', { 'id': riesgo.id }) }}">|Editar riesgo|</a> 
                <a href="{{ path('planes_ries', { 'id': riesgo.id }) }}">|Ver Plan|</a>
                <a href="{{path ('plan_tratamiento_new', {'id':riesgo.id}) }}">|Crear Plan</a>
               </ul>
               </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
    </div>

</center>
</div>

    <ul>
        
        <br>
        <li>
 <a href="{{ path('riesgo_new') }}">Regresar</a>
</li>
    </ul>
    </div>

{% endblock %}



{% block javascripts %}

 <script
  src="{{ asset('public/DataTables/jquery-3.2.1.js') }}"
  integrity=""
  crossorigin="anonymous"></script> 

<script type="text/javascript" src="{{ asset('public/DataTables/datatables.js') }}"></script>

<script>
$(document).ready(function() {
  $("#tabla").DataTable(
  {
    language: {
    processing:     "Procesando...",
    search:         "Buscar:",
    lengthMenu:     "Mostrar _MENU_ registros",
    info:           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
    infoEmpty:      "Mostrando registros del 0 al 0 de un total de 0 registros",
    infoFiltered:   "(filtrado de un total de _MAX_ registros)",
    infoPostFix:    "",
    loadingRecords: "Cargando...",
    zeroRecords:    "No se encontraron resultados",
    emptyTable:     "Ningún dato disponible en esta tabla",
    paginate: {
      first:      "Primero",
      previous:   "Anterior",
      next:       "Siguiente",
      last:       "Último"
    },
    aria: {
      sortAscending:  ": Activar para ordenar la columna de manera ascendente",
      sortDescending: ": Activar para ordenar la columna de manera descendente"
    }
    }
  } 
  );
});
</script>

{% endblock %}



