{% extends 'base.html.twig' %}

{% block body %}
<div class="container" style="margin-top:30px;">

    <br>
    <br>
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">Editar Tarea </div>
            <div class="panel-body">


                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input type="submit" value="Editar" />
                {{ form_end(edit_form) }}
            </div>
            <center>
                <ul>
                    <li>
                        <a href="{{ path('tarea_index') }}">Regresar</a>
                    </li>
                     <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
            </li>
                </ul>
            </center>
        </div>
    </div>
</div>
</div>
{% endblock %}
