{% extends 'base.html.twig' %} 
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('public/css/tablas.css')}}">
{% endblock %}
{% block body %}

<form  name="insertar" method="get" action="{{ path('dar_seguimiento')}}">
  <div class="container" style="margin-top:100px; margin-bottom:150px">
    <div class="row well">
{% set foo = 'foo' %}
      <center><h3>Seguimiento del plan: {{ proceso.plan}}</h3></center>
      <br>

      <ul>
        <li>
          <a href="{{ path('tarea_menu') }}">Regresar</a>
        </li>
      </ul>

      <input type="number" readonly="readonly" name="proceso" id="proceso" value="{{proceso.id}}" style="display:none;">
      <input type="number" readonly="readonly" name="plann" id="plann" value="{{proceso.plan.id}}" style="display:none;">
      <div class="col-xs-6">
       <div class="panel panel-success">
        <div class="panel-heading">LISTA DE TAREAS</div>
        <div class="panel-body">
          <div class="box-body table-responsive">
            <table id='tdatos' class="table table-hover">
              <thead>
                <tr>
                 
                  <th>Tarea</th>
                  <th>Seleccionar</th>
              </tr>
              {% set counter = 0 %}
        
            </thead>
            <tbody>
              {% for tr in tarea %}
              <tr>
                <td style="display: none;"><input type="id{{ counter }}" name="id{{ counter }}" value="{{ tr.id }}"></td>
               <td>{{ tr.nombre }}</td>
                <td><input type="checkbox" id="check{{ counter }}" name="check{{ counter }}" onChange="suma(this)"> </td> 
               {% set counter = counter + 1 %}
             </tr>
            {% endfor %}
           </tbody>
         </table>
         <input type="number" name="counter" value="{{ counter }}" style="display: none;">
         <input type="submit"  value="Guardar">
         </div>
         </div>
         </div>
         </div>
     
      



 
    </tbody>
  </table>

  </div>
</div>
</div>

</div>
</div>
</form>


{% endblock %}

{% block javascripts %}

<script type="text/javascript">

function suma(obj) 
    {     
        total=parseInt(document.getElementById("numero").value); 
        var tabla=document.getElementById("tabla1");  
        
        if(obj.checked) 
        {          
            total+=parseInt(obj.value); 
            

        } 
        else 
        {          
            total-=parseInt(obj.value);       
        }        
        document.getElementById("numero").value=String(total); 
       
    }  
function contarrows(){
                 var miArray=new Array()
                 var i=0
                 var tabla = document.getElementById("tdatos");
                 var total=tabla.rows.length
                 alert(total);

                 for(j=1;j<=total-1;j++){
                    var dato=tabla.rows[j].cells[0].childNodes[0].nodeValue
                    miArray[i]=dato
                    i=i+1
                    var arreglo=miArray.toString();
                    alert(arreglo);
                }
        }
  
function contar() {
    var checkboxes = document.getElementById("test").checkbox; // Array de checkboxes
    var cont = 0; // Checkboxes marcados, por defecto empieza la cuenta en 0
    for (var i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i].checked) {
            cont = cont++;
        }
    }
        
    var porcen = (cont/checkboxes.length) * 100; // Porcentaje de checboxes marcados
    if (cont == checkboxes.length) {
      alert("¡Todos marcados!");
    } else {
      alert("Resultado: " + cont + "/" + checkboxes.length + ". Porcentaje de checkboxes marcados: " + porcen);
    }
  }

</script>
{% endblock %}