{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('public/css/panelVertical.css')}}">    
{% endblock %}


{% block body %}


<div class="container" style="margin-top:30px; margin-bottom:400px; width: 80%" >
   <div class="container text-center" >
      <div class="page-header" >
        <h2>Bienvenid@ {{ app.user.username }}</h2>


      </div>
      
   </div>

   <div class="vertical-menu" style="float:left; width: 30%" >
      <div class="page-header">
      <center><h3>Gestión</h3></center>
      </div>
    {% if is_granted('ROLE_ADMIN') %}
   <a  href="{{ path('menu_activo') }}" >Gestionar Activos</a>
   
       <a href="{{ path('menu_categoria') }}">Gestionar Categorías Activos </a>

       <a href="{{ path('menu_usuarios') }}">Gestionar Usuarios</a>

{% elseif is_granted('ROLE_CUST') %}
       <a href="{{ path('menu_amenaza') }}">Gestionar Amenazas</a>

      <a href="{{ path('menu_catamenaza') }}">Gestionar Categorías de Amenazas</a>

      <a href="{{ path('algo') }}">Iniciar Análisis de Riesgo</a>

{% elseif is_granted('ROLE_EXP') %}
      <a href="{{ path('menu_control') }}">Plan de Tratamiento</a>

      <a href="{{ path('menu_cat_plan') }}">Gestionar Categorías de Plan</a>

   {% endif %}
</div>


<div style="float: left;" align="center"  >
<br><br><br>
<div class="" >

&nbsp;<font size=5>BIENVENIDO A SU SISTEMA DE GESTIÓN DE RIESGOS DE LA INFORMACIÓN</font><br><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><p><b>PUEDE NAVEGAR ENTRE LAS OPCIONES DEL MENÚ</p></b></label><br>
 <font color="Olive" face="Comic Sans MS,arial">
  <!-- <h1 align="center"><i>BIENVENIDO A SU SISTEMA DE GESTION DE RIESGOS DE LA INFORMACION</i></h1>
  <h2 align="center">BIENVENIDO A SU SISTEMA DE GESTION DE RIESGOS DE LA INFORMACION</h2> -->

  <i class="fa fa-folder-open" style="font-size: 300%;"></i>

<!-- <i class="fa fa-cogs" style="font-size: 300%;"></i> -->


  </font>
</div>
</div>

</div>
{% endblock %}