{% extends 'base.html.twig' %}

{% block body %}
<br>
<br> 
<br>
<div class="col-xs-8">
       <div class="panel panel-success">
        <div class="panel-heading">CATEGORÍA INGRESADA</div> 
        <div class="panel-body">


    <table>
        <tbody>
            <tr>
                <th>Id: </th>
                <td>{{ categoria_Plan.id }}</td>
            </tr>

            <tr>
                <th>Nombre de categoría: </th>
                <td>{{ categoria_Plan.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categoria_plan_index') }}">Ver lista de categorías</a>
        </li>
        <li>
            <a href="{{ path('categoria_plan_edit', { 'id': categoria_Plan.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>

</div>
</div>
</div>

{% endblock %}
