{% extends 'controles.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('public/css/panelVertical2.css')}}">
{% endblock %}

{% block body %}
    <h1>Activos</h1>
<CENTER><H2>TAREAS</H2></CENTER>
<hr>



<div class="vertical-menu">
  <div class="page-header"><center>Gestión de Tareas</center></a>

   		
   		</div>



       <a data-toogle="modal" href="{{ path('tarea_index') }}"" data-target="#modal1">Ver tareas</a>
       <div id="myModal"></div>
       <a href="{{ path('tarea_new') }}">Ingresar tarea</a>

       <a href="{{ path('tareas_control') }}">Control de Tareas</a>

       <a href="{{ path('asignar_control') }}">Asignar Controles</a>

      </div>
<hr>

<ul>
    <li>
        <a href="{{ path('menu_control') }}">Regresar</a>
    </li>
</ul>

{% endblock %}
