{% extends 'base.html.twig' %}


{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('public/css/styleExtra.css')}}">
{% endblock %}

{% block body %}


<form  name="insertar" method="get" action="{{ path('proceso2')}}">
  <div class="container" style="margin-top:100px; margin-bottom:150px">
    <div class="row well">

      <h3>Asignar controles al plan: {{plan_Tratamiento.id}}</h3>
      <input type="number" readonly="readonly" name="proceso" id="proceso" value="{{plan_Tratamiento.id}}" style="display:none;">


      <div class="col-xs-8">
       <div class="panel panel-success">
        <div class="panel-heading">AGREGAR CONTROLES</div>
        <div class="panel-body">
         <center>
            <h5><u>Datos de plan: </u></h5>
  
          <h5><i>Id de riesgo: <input type="text" value="{{ plan_Tratamiento.riesgo }}" name="riesS" id="riesS"  size="3" disabled="true"></i></h5>
 <h5><i>Riesgo (en %):
    <input type="text" value="{{ rie.estimacionRiesgo}}" name="rie" id="rie"  size="3" disabled="true">
{% if rie.estimacionRiesgo <=20 %}
   <input  style="background-color:#82FA58;text-align:center;" value="Despreciable" placeholder="Despreciable" disabled="true">
{% else %}
     <label>Riesgo mayor a 20</label>
{% endif %} </i></h5>

         <input type="text" value="{{plan_Tratamiento.id}}" name="idS" id="idS"  size="20" disabled="true" style="display:none;">
          <h5><i>Descripción del plan: <input type="text" value="{{plan_Tratamiento.descripcion}}" name="plaS" id="plaS"  size="20" disabled="true"></i></h5>
            <hr>
         
           
             <div class="form-group">
              <h4><label>Controles</label></h4>
              <select name= "controlSeleccionado" required id= "controlSeleccionado" class="textfield">
                <option selected="selected" value="default">--Seleccione un Control--</option>
                {% for cont in control %}
                <option value="{{cont.id}}{{cont.control}}">{{ cont.control }}</option>
                {% endfor %}
              </select>
            </div>
          <br>

          <input type="button" onclick="capturar()" value="Agregar Control">
          </center>
          <br>
          <a class="btn" href="{{ path('plan_tratamiento_index') }}">Regresar</a>
          <br><br>


          <input type="number" readonly="readonly" name="contador" id="contador" style="display:none;">


          <div class="box-body table-responsive">
            <table class="table table-hover" width= "100%" >
             <thead>
               <tr>
               <th style="width:10%" >No.</th>
                <th style="width:10%" >Nombre Control</th>
              </tr>
            </thead>
            <tbody>
             {% for i in 0..20 %}
             <tr style="display:none" class="hover" id="fila{{i}}" name="fila{{i}}">

            

              <td ><input value="" class="colorfondo" size="8" type="text" id="num{{i}}" name="num{{i}}" readonly="readonly"></td>

              <td style="display:none" ><input class="colorfondo" size="8" type="text" id="ries{{i}}" name="ries{{i}}" readonly="readonly"></td>

              <td style="display:none"><input class="colorfondo" size="8" type="text" id="riesN{{i}}" name="riesN{{i}}" readonly="readonly"></td>

              <td style="display:none" ><input class="colorfondo" size="8" type="text" id="contr{{i}}" name="contr{{i}}" readonly="readonly"></td>

              <td><input class="colorfondo" size="50" type="text" id="contrN{{i}}" name="contrN{{i}}" readonly="readonly"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>

      <center><input class="btn" type="submit" name="Enviar" value="Guardar"></center>
    </form>

  </div>

</div>

<style>
  .colorfondo{
    background-color: #F2F2F2;
    border:0;
  }
</style>


</div>
</div>
</div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('public/js/tablaProceso.js')}}"></script>

<script type="text/javascript">

function ponerRiesgo() {

 alert('llega');
// document.insertar.riesNom.value="lalala";
var rie = document.getElementById("rie").value;
// var rie = document.getElementByName("rie").value;
if(rie <= 15){
  document.insertar.riesNom.value="Despreciable";
  riesNom.style.backgroundColor = "#82FA58";
            riesNom.style.color = "#000000";
            riesNom.style.fontSize=1+'em';
            riesNom.style.fontWeight='bold';}
else
  if (rie>15 && rie<=29){
     document.insertar.riesNom.value="Bajo";
      riesNom.style.backgroundColor = "#BDBDBD";
            riesNom.style.color = "#000000";
            riesNom.style.fontSize=1+'em';
            riesNom.style.fontWeight='bold';}
    else
      if (rie>=30 && rie<=45){
       document.insertar.riesNom.value="Apreciable";
         riesNom.style.backgroundColor = "#F4FA58";
            riesNom.style.color = "#000000";
            riesNom.style.fontSize=1.2+'em';
            riesNom.style.fontWeight='bold';}
      
      else
        if (rie>=46 && rie<=59){
        document.insertar.riesNom.value="Importante";
         riesNom.style.backgroundColor = "#FFBF00";
            riesNom.style.color = "#000000";
            riesNom.style.fontSize=1.2+'em';
            riesNom.style.fontWeight='bold';}
         else
          if (rie>=60 && rie<=100){
            document.insertar.riesNom.value="Critico";
            riesNom.style.backgroundColor = "#FE2E2E";
            riesNom.style.color = "#000000";
            riesNom.style.fontSize=1.2+'em';
            riesNom.style.fontWeight='bold';}



}
</script>

{% endblock %}

