{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('public/css/tablas.css')}}">
{% endblock %}
{% block body %}
<div class="container" style="margin-top:100px; margin-bottom:150px">
    <div class="row well">

<h2>Controles del Plan: {{ plan.descripcion }}</h2>
<div class="box-body table-responsive">
    <table id='tabla' class="table table-hover">
        <thead>
            <tr>
                
                <th>Control</th>
                  <th>Porcentaje Avance</th>
                <th>Acciones</th>
              
            </tr>
        </thead>
        <tbody>
        {% for proceso in procesos %}
            <tr>
                
                <td>{{ proceso.control}}</td>
                   <td>{{ proceso.procesoTarea}} %</td>
                <td><ul>

                        <li>
                            <a href="{{ path('tarea_mostrar', { 'id': proceso.id }) }}">Agregar Tarea</a>
                        </li>
                        <br>
                         <li>
                            <a href="{{ path('tarea_seguimiento', { 'id': proceso.id }) }}">Ver seguimiento</a>
                        </li>

                    </ul></td>
            </tr>
        {% endfor %}
          </div>
         </div>
         </tbody>
      </table>
    </div>

    
{% endblock %}



