{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('public/css/tablas.css')}}">
{% endblock %}
{% block body %}
<div class="container" style="margin-top:100px; margin-bottom:150px">
    <div class="row well">

<h2>Controles del Plan: {{ plan.descripcion }}</h2>
<div class="box-body table-responsive">
    <table id='tabla' class="table table-hover">
        <thead>
            <tr>
                
                <th>Control</th>
                  <th>Porcentaje Avance</th>
                <th>Acciones</th>
              
            </tr>
        </thead>
        <tbody>
        {% for proceso in procesos %}
            <tr>
                
                <td>{{ proceso.control}}</td>
                   <td>{{ proceso.procesoTarea}} %</td>
                <td><ul>

                        <li>
                            <a href="{{ path('tarea_mostrar', { 'id': proceso.id }) }}">Agregar Tarea</a>
                        </li>
                        <br>
                         <li>
                            <a href="{{ path('tarea_seguimiento', { 'id': proceso.id }) }}">Ver seguimiento</a>
                        </li>

                    </ul></td>
            </tr>
        {% endfor %}
          </div>
         </div>
         </tbody>
      </table>
    </div>

    
{% endblock %}


{% block javascripts %}

<script
  src="{{ asset('public/DataTables/jquery-3.2.1.js') }}"
  integrity=""
  crossorigin="anonymous"></script> 

<script type="text/javascript" src="{{ asset('public/DataTables/datatables.js') }}"></script>

<script>
$(document).ready(function() {
  $("#tabla").DataTable(
  {
    language: {
    processing:     "Procesando...",
    search:         "Buscar:",
    lengthMenu:     "Mostrar _MENU_ registros",
    info:           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
    infoEmpty:      "Mostrando registros del 0 al 0 de un total de 0 registros",
    infoFiltered:   "(filtrado de un total de _MAX_ registros)",
    infoPostFix:    "",
    loadingRecords: "Cargando...",
    zeroRecords:    "No se encontraron resultados",
    emptyTable:     "Ningún dato disponible en esta tabla",
    paginate: {
      first:      "Primero",
      previous:   "Anterior",
      next:       "Siguiente",
      last:       "Último"
    },
    aria: {
      sortAscending:  ": Activar para ordenar la columna de manera ascendente",
      sortDescending: ": Activar para ordenar la columna de manera descendente"
    }
    }
  } 
  );
});
</script>

{% endblock %}



