{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('public/css/tablas.css')}}">
{% endblock %}
{% block body %}
<hr>
<br>
<br>
<br>
<div class="box-body table-responsive">
    <table id='tabla' class="table table-hover">
        <thead>
            <tr>
                <th>Plan de Tratamiento</th>
                <th>Control</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for proceso in procesos %}
            <tr>
                <td>{{ proceso.plan}}</td>
                <td>{{ proceso.control}}</td>
                <td><ul>
                        <li>
                            <a href="{{ path('proceso_mostrar', { 'id': proceso.id }) }}">Asignar control
                        </li>
                        <br>
                         <li>
                            <a href="{{ path('proceso_new', { 'id': proceso.id }) }}">Ver controles</a>
                        </li>
                        <br>
                        <li>
                            <a href="{{ path('tarea_mostrar', { 'id': proceso.id }) }}">Agregar Tarea</a>
                        </li>
                        <br>
                         <li>
                            <a href="{{ path('tarea_seguimiento', { 'id': proceso.id }) }}">Ver seguimiento</a>
                        </li>
                    </ul></td>
            </tr>
        {% endfor %}
         </tbody>
      </table>
    </div>

    
{% endblock %}



